$df-font-family: Calibri, sans-serif;
$df-font-weight: 300;

// Colors
$bg-default: #2b3030;
$bg-page: #87859f;
$txt-default: #f9fed0;
$primary-1: #1dba34;
$primary-1-hover: #44dc5a;
$primary-1-active: #ace0b3;
$warning: #d8ce18;
$error: #c1201b;
$info: #1b6ec2;